<html>
    <head>
        <title>Readings from the Deep Moor Station</title>
    </head>
<body>

<p>
<em style="color: green; font-size: 2em;"><%= start_date %>, <%= end_date %></em>.
</p>

</body>
</html>